body{
    background: rgb(255, 255, 255);
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
h2{
    color: #4b8663;
    font-weight:bold;
    font-size: 25px;
}
h3{
    color: #5a76b2;
    font-weight: bold;
}
h4{
    color: #5a76b2;
    font-style: italic;
}
p{
    color: black;
}